

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Oswald:wght@600&display=swap');

.container_wines{
  /* background: var(--bg-color);
  color:var(--text-color); */
}

.container_h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Libre Baskerville', serif;
}

.box_wines {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 0 10px;
    padding-top: 50px;
    min-height: 700px;
    padding-bottom: 50px;
}

/* .card_wines{

} */