

.container_card{
  position: relative;
  display: flex;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box_card{
    padding: 2px;
    height: 300px;
    max-height: 350px;
    width: 150px;
    text-align: center;
}

.box_img{
  max-width: 100%;
  height: auto;
}
.box_img img{
    height: 160px;
}

.box_name{

}
.box_name h2{
  font-size: 0.9rem;
  margin: 10px 0;
}

.box_varietal{

}
.box_varietal h4{
  font-size: 0.8rem;
  margin: 5px 0;
  color: var(--text-color-card);
}

.box_winary{
    
}
.box_winary h4{
  font-size: 0.8rem;
  margin: 5px 0;
  color: var(--text-color-card);
}

.box_price{
    position: absolute;
    background-color: #ebebebe7;
    border-radius: 3px;
    width: 120px;
    margin-left: 14px;
    bottom: 8px;
}
.box_price h4{
    font-size: 1rem;
    padding: 1px 0;
    margin: 3px 0;
    color: rgba(255, 0, 0, 0.466);
}