
.container_footer{
  background: var(--bg-color);
  box-shadow: var(--box-shadow-footer); 
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.footer_content svg {
    transform: scale(0.7);
}

.container_whatsapp{
  display: flex;
  align-items: center;
}
.container{
  /* width: 1140px; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_content{
  width: 33.3%;
  color:var(--text-color);
}

.footer_content p{
  color:var(--text-color-card);
}

.bottom_bar span{
  color:var(--text-color-card)
}

.footer_content button{
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 600;
  color:var(--text-color-card)
}

.contac_h3{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

h3{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}
.footer_content p{
  width:190px;
  margin: auto;
  padding: 7px;
}
.footer_content ul{
  text-align: center;
}
.list{
  padding: 0;
}
.list li{
  width: auto;
  text-align: center;
  list-style-type:none;
  padding: 7px;
  position: relative;
}

.social_icons{
  text-align: center;
  padding: 0;
}
.social_icons li{
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social_icons i{
  color: rgb(245, 8, 8);
  font-size: 25px;
}
a{
  text-decoration: none;
}

.bottom_bar{
  background: var(--bg-color);
  box-shadow: var(--box-shadow-footer);
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
.bottom_bar p{
  color:var(--text-color);
  margin: 0;
  font-size: 16px;
  padding: 7px;
}

.square{
  width: 100%;
  height: auto;
  margin-top: 48px;
  padding: 0px !important;
  padding-bottom: 20px;
}

.brand{
  margin-top: 20px;
  font-size: 38px;
  color: #00a991;
  font-weight: bold;
}

.about{
  width: 85%;
  color: white;
  margin-top: 5px;
}

.heading{
  margin-top: 20px;
  font-size: 38px;
  color: #00a991;
  font-weight: bold;
  text-align: center;
}

.p-list{
  padding: 0;
}

.p-list li{
  display: block;
  text-align: center;
  margin: 5px 0px;
  color: white;
}

.l-list{
  padding: 0;
}

.l-list li{
  display: block;
  text-align: center;
  margin: 5px 0px;
  color: white;
}

.contact{
  padding: 0;
}

.contact li{
  display: block;
  text-align: center;
  margin: 5px 0px;
  color: white;
}

.social-media{
  text-align: center;
  margin-top: 20px;
}

.social-media li{
  display: inline-flex;
  color: white;
  margin: 5px;
  font-size: 25px;
}

.copy{
  text-align: center;
  color: white;
  margin-top: 20px;
}

@media only screen and (max-width:767px){
  .heading{
      text-align: left;
  }
  .square{
      padding: 0px 30px !important;
      margin-top: 10px!important;
  }

  .p-list li , .l-list li , .contact li{
      text-align: left;
  }
  .social-media{
      padding-left: 0!important;
  }

  .social-media li{
      margin: 5px;
  }
}