.content {
    padding: 15px;
    overflow: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
  }
  
  p {
    margin: 0;
    padding: 10px 0;
    color: #777;
  }
  
  /* -----------------------------------------
    =CSS3 Loading animations
  -------------------------------------------- */
  
  /* =Elements style
  ---------------------- */
  .load_wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--background-color);
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .load_wrapp:last-child {
    margin-right: 0;
  }
  
  .line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
  }
  
  .load{
    margin-top: 32px;
  }
  
  /* =Animate the stuff
  ------------------------ */
  .load .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
  .load .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
  .load .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }
  
  @keyframes loadingC {
    0 {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  